@charset 'utf-8';

/* reset for mobile */
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: ' ';}


:root {
  --main: #4265ED;
  --point: #ef1b27;
}



body{width: 100%; background: #fff; overflow-x: hidden;}
img {max-width: 100%;}
#wrap {position: relative; min-height:100vh; padding-bottom: 50px; display: flex; flex-direction: column; width: 100%; margin: 0 auto;}
#contents_wrap {display: flex; flex-direction: column; align-items: center; width: 100%;}
#footer {position: absolute; bottom: 0; width: 100%;}
#footer .footer_info {width: 100%; margin: 0 auto; text-align: center; transition: all 0.2s;}



#wrap #header  {text-align: center; width: 100%; background-color: #fff; border-bottom: 1px solid #E7EBEE; margin-bottom: 20px;}
#wrap header .header_wrap {width: 100%; padding: 10px 20px; margin: 0 auto; transition: all 0.2s;}
#wrap header .header_wrap > div {display: flex; justify-content: center; align-items: center;}
#wrap header .header_wrap h1 img {width: 150px; padding: 30px 0 20px;}
#wrap header .header_wrap p {padding-bottom: 20px;}


#wrap #contents_wrap .menu_wrap {margin: 0 auto; width: 100%;  padding: 0 20px; transition: all 0.2s;}
#wrap #contents_wrap .menu_wrap > div {margin-bottom: 25px;}


#wrap #contents_wrap .menu_wrap > div.menu_list {margin-bottom: 20px;}
#wrap #contents_wrap .menu_list {position: relative; padding: 18px 16px; border-radius: 5px; cursor: pointer;}
#wrap #contents_wrap .menu_list img {position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}


#wrap #contents_wrap .cont_wrap {margin: 0 auto; width: 100%; transition: all 0.2s; padding: 0 20px;}
#wrap #contents_wrap .cont_wrap .title_area {display: flex; flex-direction: column; align-items: center; text-align: center;}
#wrap #contents_wrap .cont_wrap .sub_txt {margin-top: 20px; line-height: 24px;}
#wrap #contents_wrap .cont_wrap .terms p {font-size: 14px; line-height: 20px; padding-bottom: 8px;}
#wrap #contents_wrap .cont_wrap .terms p > span {font-size: 16px;}

#wrap #contents_wrap .num_info {display: flex; justify-content: space-between; margin-top: 20px;}
#wrap #contents_wrap .num_info > div {display: flex; flex-direction: column; align-items: center; width: 30%; background: #F3F5F6; padding: 15px 5px 20px; text-align: center; border-radius: 5px;}
#wrap #contents_wrap .num_info div .num_img {display: flex; justify-content: center; align-items: center; width: 55px; height: 55px; border-radius: 50%; background: #fff; margin: 5px 0 15px; box-shadow: 0px 8px 5px rgb(230, 230, 230);}
#wrap #contents_wrap .num_info div .num_img img {width: 30px; opacity: 0.8;}
#wrap #contents_wrap .num_info div p {font-size: 18px; font-weight: 800; color: #181A1B;}

.font_check {display: inline-block; color: var(--point); font-size: 14px;}
.font_red {color: var(--point) !important;}
.title_bottom {margin: 50px 0 10px;}
.btn_download {display: inline-block; font-size: 14px; font-weight: 500; border-bottom: 1px solid #A8B3BD; padding: 10px 2px 0 0; color: #505050;}
.align_l {text-align: left;}
.btn_download2 {font-size: 14px; font-weight: 500; margin-top: 0px; padding: 10px 20px; color: #fff; background: #000; border-radius: 50px;}
.align_l {text-align: left;}
.manual_txt > p::before { content: '• ';}

.won {display: inline-block; width: 100%; text-align: right; font-size: 12px;}

/* 기본테이블 */
table {width: 100%; margin-bottom: 12px; text-align: center;}
th {border-top: 1px solid #181A1B !important; border: 1px solid #E7EBEE; background-color: #F3F5F6; font-size: 13px; color: #101010; padding: 10px 0;}
td, tr {border: 1px solid #E7EBEE; padding: 8px; font-size: 12px;}


/* 테이블 패딩값 8px 2px 수정 */
.t_2 > table {width: 100%; text-align: center;}
.t_2 th {border-top: 1px solid #181A1B !important; border: 1px solid #E7EBEE; background-color: #F3F5F6; font-size: 12px; color: #101010; padding: 10px 0;}
.t_2 td, tr {border: 1px solid #E7EBEE; padding: 8px 2px; font-size: 12px;}


.btn_gray {background-color: #F3F5F6; color: #66707A;}
.btn_blue {background-color: var(--main); color: #fff;}
.btn_edit {position: relative; margin-right: 16px; background-color: #f3f6f4; font-weight: bold; color: #101010; cursor: pointer;}
.btn_edit::after {content: ''; position: absolute; display: inline-block; width: 16px; height: 16px; background: url(../images/icon_chevron_right_small.svg) left center / 16px 16px  no-repeat;}


#wrap #contents_wrap .cont_wrap .terms {margin-top: 35px;}
#wrap #contents_wrap .cont_wrap .terms_sum {display: flex; align-items: center; padding: 15px 5px; border-top: 1px solid #E7EBEE;}
#wrap #contents_wrap .cont_wrap .terms_sum:last-child {border-bottom: 1px solid #E7EBEE; margin-bottom: 50px;}
#wrap #contents_wrap .cont_wrap .terms_sum > span {display: flex; justify-content: center; align-items: center; padding: 20px; margin-right: 15px; border-radius: 50px; font-size: 18px; font-weight: 700; color: #101010; background: #F3F5F6;}
#wrap #contents_wrap .cont_wrap .terms_sum div {font-size: 15px;}


#wrap #contents_wrap .cont_wrap .prod_list {display: flex; justify-content: center; align-items: flex-start; text-align: center; gap: 20px; flex-wrap: wrap;}
#wrap #contents_wrap .cont_wrap .prod_list li {width: calc((100% - 20px) / 2); transition: all 0.2s;}
#wrap #contents_wrap .cont_wrap .prod_list .prod_img {display: flex; justify-content: center; align-items: center; background: #F3F5F6;}
#wrap #contents_wrap .cont_wrap .prod_list .prod_name {padding: 5px 0;}



.title24_800 {font-size: 24px; font-weight: 800; color: #101010; padding-top: 15px; line-height: 35px;}
.title20_800 {font-size: 22px; font-weight: 800; color: #101010; line-height: 35px;}
.title20_600 {font-size: 20px; font-weight: 600; color: #101010;}
.title18_800 {font-size: 18px; font-weight: 800; color: #101010;}
.title18_600 {font-size: 18px; font-weight: 600; color: #101010;}
.title16_800 {font-size: 16px; font-weight: 800; color: #101010;}
.title16_600 {font-size: 16px; font-weight: 600; color: #101010; padding-bottom: 8px;}
.title16_400 {font-size: 16px; font-weight: 400; color: #101010;}
.title15_600 {font-size: 15px; font-weight: 600; color: #101010; padding: 13px 0 8px;}
.title14_600 {font-size: 15px; font-weight: 600; color: #101010; padding: 13px 0 8px;}


.line_border_1 {border: 1px solid #E7EBEE;}
.line_border_2 {border-bottom: 1px solid #E7EBEE; margin: 15px 0 35px;}





/* footer */
#wrap footer {margin-top: 300px;}
#wrap #footer {height: 300px; background-color: #F3F5F6; border-top: 1px solid #E7EBEE;}
#wrap #footer .footer_info {font-size: 14px; padding: 30px 20px;}
#wrap #footer .footer_info img {padding-bottom: 15px;}
#wrap #footer .footer_info p:nth-child(4) {font-size: 12px; padding: 10px 0;}
#wrap #footer .footer_info .num > span {font-size: 16px; font-weight: 800; line-height: 24px; color: #707070;}
#wrap #footer .footer_info .copyright {font-size: 11px; padding-top: 10px;}


@media (max-width: 429.9px) {

  #footer .footer_info {width: 100%; margin: 0 auto; text-align: center; padding: 0 15px;}
  #wrap header .header_wrap {width: 100%; padding: 10px 15px; margin: 0 auto;}
  #wrap #contents_wrap .menu_wrap {margin: 0 auto; width: 100%; padding: 0 15px;}
  #wrap #contents_wrap .cont_wrap {margin: 0 auto; width: 100%; padding: 0 15px;}

  }